<!-- LAYOUT Básico para o backoffice quando o user está conectado, inclui top-navbar e boilerplate -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/_head')%>
</head>
<body id="painel">

    <%-include('../partials/_navbar')%>

    <%- body -%>

    <%-include('../partials/_footer')%>


  </body>
  <%-include('../partials/_scripts')%>

  </html>
