<header id="main-header" class="pt-3 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fa fa-gear"></i> Painel
        </h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="action" class="py-4 mb-4 bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- <a href="posts/add" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal"><i class="fa fa-plus"></i> Adicionar Postagem</a> -->
        <a href="/posts/add" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Adicionar Postagem</a>

      </div>
      <div class="col-md-6">
        <a href="/category/add" class="btn btn-success btn-block" data-toggle="modal" data-target="#addCategoryModal"><i class="fa fa-plus"></i> Adicionar Categoria</a>
      </div>
    </div>
  </div>
</section>

<%-include('./partials/_msg')%>

<!-- TABLE AREA -->
<section id="table-area-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-9">
        <div class="card border-primary">
          <div class="card-header bg-primary text-white">
            <h4>Postagens Recentes</h4>
          </div>
          <table class="table table-responsive table-hover">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Título</th>
                <th>Data</th>
                <th>Autor</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="">
              <%if(posts.length > 0){%>
                <% for(var i=posts.length-1; 0<=i; i--){ %>
              <tr>
                  <td scope="row"><%-i-%></td>
                  <td><%= posts[i].title %> <p class="text-muted"><%= posts[i].category %></p></td>
                  <!-- <td><%= posts[i].category %></td> -->
                  <td><%= posts[i].date %></td>
                  <td><%= posts[i].author %></td>
                  <td><a href="/posts/details/<%= posts[i]._id %>" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>

              </tr>
              <%} %>

              <%}else{%>
                <p>Não foram adicionados nenhums posts :-O</p>
              <%}%>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-5">
        <div class="card text-center  border-primary mb-3">
          <div class="card-header text-white bg-primary">
            <h4 class="card-title mt-2"><i class="fa fa-pencil"></i> Postagens</h4>
          </div>
          <div class="card-block card-text">
            <h1 class="display-4"><%=posts.length%></h1>
            <div class="card-footer">
              <a href="posts" class="btn btn-lg btn-primary "> Ver</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- MODALS (ADD POST; ADD CATEGORY)  ADICIONAR NO FUTURO-->
<div class="modal fade" id="addPostModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="addPostModalLabel">Add Post</h5>
        <button class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/posts/add">
          <div class="form-group">
            <label for="title" class="firm-control-label">Title</label>
            <input type="text" class="form-control" name="title" required>
          </div>
          <div class="form-group">
            <label for="category" class="form-control-label">Category</label>
            <select name="category" class="form-control" required>
              <option value="exemplo1">Exemplo 1</option>
              <option value="exemplo2">Exemplo 2</option>
              <option value="exemplo3">Exemplo 3</option>
            </select>
          </div>
          <div class="form-group bg-faded p-3">
            <label for="file">Image Upload</label>
            <input type="file" name="file" value="" class="form-control-file" id="file">
            <small id="fileHelp" class="form-text text-muted">Tamanho máx 3MB</small>
          </div>
          <div class="form-group">
            <label for="body">Body</label>
            <textarea name="textarea" class="form-control" required></textarea>
          </div>
        </div>
        <%
        var d = new Date();
        var data = d.toISOString()
        %>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Adicionar Post</button>
      </div>
    </form>

    </div>
  </div>
</div>

<div class="modal fade" id="addCategoryModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="addPostModalLabel">Adicionar Categoria</h5>
        <button class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="title" class="form-control-label">Title</label>
            <input type="text" class="form-control" id="title">
          </div>
        </form>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button class="btn btn-success" data-dismiss="modal">Adicionar Categoria</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
  <script>
  CKEDITOR.replace('textarea');
</script>
