<div class="container">

<%if (locals.errors.length > 0) {%>
  <% for(var i=0; i<locals.errors.length; i++){ %>
<div class="alert alert-danger mt-3"><%= errors[i].text %></div>
<%} %>

<div class="card card-outline-primary mb-5">

<%} else {%>
  <div class="card card-outline-primary my-5">
<%}%>
    <div class="card-header bg-primary text-white">
      <h1>Adicionar Postagem</h1>
    </div>
    <div class="card-block">
      <form method="POST" action="/posts/post">
          <div class="form-group">
          <label for="title" class="firm-control-label">Title
          </label>
          <%if (locals.postTitle.length > 0) {%>
            <%=postTitle%>
            <input type="text" class="form-control" name="title" value="<%=postTitle%>" required>

            <%} else {%>
              <input type="text" class="form-control" name="title" required>
        <%}%>
        </div>
<!-- TODO EJS AQUI locals.postCategory, como colocar um 'value="postCategory"' no select?  -->
        <div class="form-group">
          <label for="category" class="form-control-label">Category</label>
          <select name="category" class="form-control" value=<%=postCategory%>>
            <option value=""></option>
            <option value="exemplo1">Exemplo 1</option>
            <option value="exemplo2">Exemplo 2</option>
            <option value="exemplo3">Exemplo 3</option>
          </select>
        </div>
        <div class="form-group bg-faded p-3">
          <label for="file">Image Upload</label>
          <input type="file" name="file" value="" class="form-control-file" id="file">
          <small id="fileHelp" class="form-text text-muted">Tamanho máx 3MB</small>
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea name="textarea" class="form-control"  rows="3" required><%if (locals.postBody.length > 0) {%>
            <%=postBody%><%}%></textarea>
        </div>
      </div>
      <%
      var d = new Date();
      var data = d.getUTCDate()
      %>

      <div class="card-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Adicionar Post</button>
      </div>
    </form>
  </div>
</div>

  <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
  <script>
  CKEDITOR.replace('textarea');
</script>
