
<header id="main-header" class="pt-3 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          Postagem: <%= post.title %>
        </h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="action" class="py-4 mb-4 bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mr-auto">
        <a href="index.html" class="btn btn-secondary btn-block"><i class="fa fa-arrow-left"> Voltar</i></a>
      </div>
      <div class="col-md-3">
        <a href="index.html" class="btn btn-success btn-block"><i class="fa fa-check"> Gravar</i></a>
      </div>
      <div class="col-md-3">
        <a href="index.html" class="btn btn-danger btn-block"><i class="fa fa-remove"> Eliminar</i></a>
      </div>
    </div>
  </div>
</section>

<!-- POST EDIT -->
<section id="edit-post-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Editar Postagem</h4>
          </div>
          <div class="card-block">
            <form>
              <div class="form-group">
                <label for="title" class="firm-control-label" value="<%= post.title %>"></label>
                <input type="text" class="form-control" id="title" value="<%= post.title %>">
              </div>
              <div class="form-group">
                <label for="category" class="form-control-label">Category</label>
                <select class="form-control">
                  <<option value="<%= post.category %>" selected><%= post.category %></option>
                  <option value="">Exemplo 1</option>
                  <option value="">Exemplo 2</option>
                  <option value="">Exemplo 3</option>
                </select>
              </div>
              <div class="form-group bg-faded p-3">
                <label for="file">Image Upload</label>
                <input type="file" name="" value="" class="form-control-file" id="file">
                <small id="fileHelp" class="form-text text-muted">Tamanho máx 3MB</small>
              </div>
              <div class="form-group">
                <label for="body"></label>
                <textarea name="editor1" class="form-control"><%= post.body %></textarea>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<script>
CKEDITOR.replace('editor1');
</script>
