<header id="main-header" class="pt-3 bg-primary text-white">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <h1>
          <i class="fa fa-pencil"></i> Postagens
        </h1>
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" name="" value="" placeholder="Postagens.." class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-info">
              Procurar
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<%-include('../partials/_msg')%>

<!-- ACTIONS -->
<section id="action" class="py-4 mb-4 bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- <a href="posts/add" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal"><i class="fa fa-plus"></i> Adicionar Postagem</a> -->
        <a href="/posts/add" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Adicionar Postagem</a>
      </div>
    </div>
  </div>
</section>

<!-- ACTIONS -->
<section id="action" class="py-4 mb-4 bg-faded">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <!-- <a href="posts/add" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal"><i class="fa fa-plus"></i> Adicionar Postagem</a> -->
        <a href="/posts/add" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Adicionar Postagem</a>

        <div class="col-md-4 push-8">
          <div class="input-group">
            <input type="text" name="" value="" placeholder="Postagens.." class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-primary">
                Procurar
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ALERT SECTION - use a locals.alert to pass any alert for the end-user -->
  <%if (locals.alert.length > 0) {%>
    <div class="container">
      <div class="alert alert-success mt-3">
        <%= locals.alert %>
      </div>
    </div>
    <%} %>
    <!-- TABLE AREA -->
    <section id="table-area-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="card border-primary">
              <div class="card-header bg-primary text-white">
                <h4>Postagens Recentes</h4>
              </div>
              <table class="table table-striped table-responsive table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Data</th>
                    <th scope="col">Texto</th>
                    <th scope="col">Autor</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="">
                  <%if(posts.length > 0){%>
                    <% for(var i=posts.length-1; 0<=i; i--){ %>
                      <tr>
                        <td scope="row">
                          <%-i-%>
                        </td>
                        <td>
                          <%= posts[i].title %>
                          <p class="text-muted">
                            <%= posts[i].category %>
                          </p>
                        </td>
                        <td>
                          <%= posts[i].date %>
                        </td>
                        <td>
                          <%= posts[i].body %>
                        </td>
                        <td>
                          <%= posts[i].author %>
                        </td>
                        <td><a href="/posts/details/<%= posts[i]._id %>" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>
                      </tr>
                      <%} %>

                      <%}else{%>
                        <p>Não foram adicionados nenhums posts :-O</p>
                        <%}%>
                        <% for(var i=posts.length-1; 0<=i; i--){ %>
                          <tr>
                            <td scope="row">
                              <%-i-%>
                            </td>
                            <td>
                              <%= posts[i].title %>
                              <p class="text-muted">
                                <%= posts[i].category %>
                              </p>
                            </td>
                            <td>
                              <%= posts[i].date %>
                            </td>
                            <td>
                              <%= posts[i].body %>
                            </td>
                            <td>
                              <%= posts[i].author %>
                            </td>
                            <td><a href="/posts/details/<%= posts[i]._id %>" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>
                            <div class="col-md-12 col-lg-9">
                              <div class="card card-outline-primary">
                                <div class="card-header card-primary text-white">
                                  <h4>Postagens Recentes</h4>
                                </div>
                                <table class="table table-striped table-responsive">
                                  <thead class="thead-inverse">
                                    <tr>
                                      <th>#</th>
                                      <th>Título</th>
                                      <th>Categoria</th>
                                      <th>Data</th>
                                      <th>Texto</th>
                                      <th>Autor</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <%if(posts.length > 0){%>
                                      <% for(var i=posts.length-1; 0<i; i--){ %>
                                        <tr>
                                          <td scope="row">
                                            <%-i-%>
                                          </td>
                                          <td>
                                            <%= posts[i].title %>
                                          </td>
                                          <td>
                                            <%= posts[i].category %>
                                          </td>
                                          <td>
                                            <%= posts[i].date %>
                                          </td>
                                          <td>
                                            <%= posts[i].body %>
                                          </td>
                                          <td>
                                            <%= posts[i].author %>
                                          </td>
                                          <td><a href="post/details/<%= posts[i]._id %>" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>
                                        </tr>
                                        <%} %>

                                        <%}else{%>
                                          <p>Não foram adicionados nenhums posts :-O</p>
                                          <%}%>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>

                                  <nav class="ml-4">
                                    <ul class="pagination">
                                      <li class="page-item disabled"><a href="#" class="page-link ">Anterior</a></li>
                                      <li class="page-item active"><a href="#" class="page-link ">1</a></li>
                                      <li class="page-item"><a href="#" class="page-link">2</a></li>
                                      <li class="page-item"><a href="#" class="page-link">3</a></li>
                                      <li class="page-item"><a href="#" class="page-link">Próximo</a></li>

                                    </ul>
                                  </nav>

                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <nav class="ml-4">
                          <ul class="pagination">
                            <li class="page-item disabled"><a href="#" class="page-link ">Anterior</a></li>
          <li class="page-item active"><a href="#" class="page-link ">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">Próximo</a></li>

        </ul>
      </nav>

      </div>
      </div>
      </div>
      </div>
      </section>
